server {
   listen  80;  # port and optionally hostname where nginx listens
   server_name  example.com translate.example.com; # names of your site
   # Change the values above to the appropriate values
   gzip on; # Enable gzip compression

   location ^~ /assets/ {
       root /usr/local/lib/python2.7/dist-packages/pootle/;
   }

   location / {
       fastcgi_pass 127.0.0.1:8000;
       fastcgi_param QUERY_STRING $query_string;
       fastcgi_param REQUEST_METHOD $request_method;
       fastcgi_param CONTENT_TYPE $content_type;
       fastcgi_param CONTENT_LENGTH $content_length;
       fastcgi_param REQUEST_URI $request_uri;
       fastcgi_param DOCUMENT_URI $document_uri;
       fastcgi_param DOCUMENT_ROOT $document_root;
       fastcgi_param SERVER_PROTOCOL $server_protocol;
       fastcgi_param REMOTE_ADDR $remote_addr;
       fastcgi_param REMOTE_PORT $remote_port;
       fastcgi_param SERVER_ADDR $server_addr;
       fastcgi_param SERVER_PORT $server_port;
       fastcgi_param SERVER_NAME $server_name;
       fastcgi_pass_header Authorization;
       fastcgi_intercept_errors off;
       fastcgi_read_timeout 600;
   }
 }
